.modal-background {
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000000;
  background: rgba(0,0,0,.3);

  .modal-content {
    width: 600px;
    margin: 30px auto;
    position: relative;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
  }
}