.detail {
  height: 100%; }
  .detail .detail-empty {
    position: relative;
    top: 40%;
    transform: translateY(-60%);
    text-align: center; }

.header {
  height: 50px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #bbb; }
  .header h4 {
    font-size: 2.3rem;
    padding: 1rem;
    margin: 0;
    text-align: center; }
  .header .nav-component {
    float: left;
    padding: 0 10px; }
  .header .logo {
    width: 300px;
    text-align: center;
    float: left; }
  .header .search {
    float: left; }
    .header .search .input[type="text"] {
      height: 40px;
      width: 300px;
      margin-top: 5px;
      padding: 3px 15px 5px;
      border-radius: 20px; }
  .header .nav-list {
    float: right;
    list-style-type: none; }
    .header .nav-list li {
      display: inline;
      padding: 0 10px; }

.meetup-list {
  float: left;
  width: 300px;
  height: 100%;
  border-right: 1px solid #bbb;
  background-color: #f2f2f2; }
  .meetup-list .meetup-list-header {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid #bbb; }
    .meetup-list .meetup-list-header .fa-plus-square-o {
      float: left;
      position: relative;
      left: 10px;
      top: 5px; }
    .meetup-list .meetup-list-header .fa-angle-down {
      float: right;
      position: relative;
      right: 5px;
      top: 3px;
      font-weight: 600; }

.meetup-list-content .meetup {
  border-bottom: 1px solid #bbb;
  padding: 15px 10px;
  background-color: #fff; }
  .meetup-list-content .meetup .meetup-link {
    color: #222;
    text-decoration: none; }
    .meetup-list-content .meetup .meetup-link .meetup-list-name {
      font-size: 1.9rem;
      margin-bottom: 0; }
    .meetup-list-content .meetup .meetup-link .meetup-list-caption {
      font-size: 1.4rem;
      color: #777; }
    .meetup-list-content .meetup .meetup-link.selected .meetup-list-name {
      font-weight: 600; }
  .meetup-list-content .meetup:hover {
    background-color: #f1f1f1; }

.spinner {
  text-align: center;
  margin-top: 20px; }

i.fa {
  margin-right: 3px; }
