$white: #fff;
$gray-1: #f7f7fa; // background colors
$gray-2: #e4e2e2; // borders
$gray-3: #bbb;
$gray-4: #a8a8a8;
$gray-5: #616668;

$red-danger: #da552f;
$red-danger-dark: #bf4927;

// Logos
$color-linkedin: #0077b5;
$color-facebook: #3b5998;
$color-twitter: #4099ff;
$color-phone: #47B822;
$color-skype: #12a5f4;