@import 'imports';

.detail-meetup {

  .detail-meetup-event-details {

    text-align: center;

    i.fa {
      margin-left: 20px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .connections-list {
    table {
      width: 100%;

      tbody {

        tr {

          height: 60px;

          td {

            &:first-child {
              padding: 5px 0 5px 5px;
            }

            .image {
              height: 50px;
              width: 50px;
              border-radius: 25px;
            }
          }

          &:nth-child(odd) {
            background-color: $gray-1;
          }

          &:hover {
            td:last-child i.fa {
              opacity: 1;
            }
          }

          td:last-child i.fa {
            transition: opacity 0.2s ease-in;
            opacity: 0;
          }
        }
      }
    }
  }
}