@import 'imports';

.detail-meetup {

  .detail-meetup-header {
    width: 100%;
    padding: 15px 0 5px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid $gray-2;

    h3 {
      margin-bottom: 10px;
    }

    i.fa-circle {
      font-size: 4px;
      position: relative;
      top: -3px;
      margin: 0 12px 0 10px;
    }
  }

  .detail-meetup-event-details {

    width: 50%;
    min-width: 300px;

    p {
      margin-bottom: 10px;
    }
  }




}