@import 'imports';

.meetup-list {
  float: left;
  width: 300px;
  height: 100%;
  border-right: 1px solid $gray-2;
  background-color: $gray-1;

  .meetup-list-header {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    border-bottom: 1px solid $gray-2;

    .fa-plus {
      float: left;
      position: relative;
      left: 10px;
      top: 5px;
    }

    .fa-angle-down {
      float: right;
      position: relative;
      right: 5px;
      top: 3px;
      font-weight: 600;
    }
  }
}

.meetup-list-content {

  .meetup {
    padding: 15px 10px;
    background-color: $white;
    border-bottom: 1px solid $gray-1;

    .meetup-link {
      color: #222;
      text-decoration: none;

      .meetup-list-name {
        font-size: 1.9rem;
        line-height: 2.7rem;
        margin-bottom: 0;
      }

      .meetup-list-caption {
        font-size: 1.4rem;
        color: #999;
      }

      .fa-angle-right {
        opacity: 0;
        float: right;
        position: relative;
        bottom: 35px;
        transition: opacity 0.2s ease-in;
      }
    }

    &.selected {

      .meetup-list-name {
        font-weight: 600;
      }

      .fa-angle-right {
        opacity: 1;
      }
    }

    .subconnection-list {
      list-style-type: none;
      margin: 0.8rem 0;

      .list-header {
        text-transform: uppercase;
        color: $gray-4;
        font-size: 1.4rem;
        font-weight: 600;

        i.fa-angle-down {
          font-weight: 600;
        }
      }

      .subconnection {
        margin: 0 0 0.8rem 1rem;

        i.fa-angle-right {
          opacity: 0;
          transition: opacity 0.2s ease-in;
          font-weight: 600;
          float: right;
        }

        .selected {
          font-weight: 600;

          i.fa-angle-right {
            opacity: 1;
          }
        }
      }
    }

    &:hover {
      background-color: $gray-1;
    }
  }
}