@import 'imports';

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/SF-UI-Text-Light.otf");
}

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/SF-UI-Text-Regular.otf");
}

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/SF-UI-Text-Medium.otf");
}

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/SF-UI-Text-Bold.otf");
}

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 200;
  src: url("fonts/SF-UI-Display-UltraLight.otf");
}

body {
  overflow: hidden;
  font-family: "SF", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

a {
  cursor: pointer;
  text-decoration: none;
}

i.fa {
  margin-right: 3px;

  &.fa-2x {
    vertical-align: middle;
  }

  &.fa-envelope {
    color: $gray-3;
  }

  &.fa-linkedin-square {
    color: $color-linkedin;
  }

  &.fa-facebook-square {
    color: $color-facebook;
  }

  &.fa-twitter-square {
    color: $color-twitter;
  }

  &.fa-phone-square {
    color: $color-phone;
  }

  &.fa-skype {
    color: $color-skype;
  }

}

i.fa-circle.divider {
  font-size: 4px;
  position: relative;
  top: -3px;
  margin: 0 12px 0 10px;
}

.link-danger {
  font-weight: 500;
  color: $red-danger;

  &:hover {
    color: $red-danger-dark;
  }
}

.centered {
  text-align: center;
}

.info {
  color: $gray-4;
}