.detail-connection .detail-header .image {
  vertical-align: middle;
  margin-right: 10px; }

.detail-connection .company-info {
  width: 100%;
  overflow: hidden; }
  .detail-connection .company-info .image {
    float: left; }
  .detail-connection .company-info .company-info-attribute {
    margin-left: 90px;
    margin-bottom: 0; }
  .detail-connection .company-info .position {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0; }
  .detail-connection .company-info .company {
    font-size: 1.7rem;
    color: #616668; }
  .detail-connection .company-info .location {
    margin-bottom: 15px; }
  .detail-connection .company-info.no-logo .company-info-attribute {
    margin-left: 0; }


.DayPicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 1rem 0;
  user-select: none;
  outline: none; }

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 1rem; }

.DayPicker-NavBar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 0.5rem; }

.DayPicker-NavButton {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer; }

.DayPicker-NavButton--prev {
  left: 1rem;
  background-image: url("assets/prev.svg"); }

.DayPicker-NavButton--next {
  right: 1rem;
  background-image: url("assets/next.svg"); }

.DayPicker-Caption {
  display: table-caption;
  height: 1.5rem;
  text-align: center; }

.DayPicker-Weekdays {
  display: table-header-group; }
  .DayPicker-Weekdays > div {
    display: table-row; }

.DayPicker-Weekday {
  display: table-cell;
  padding: .5rem;
  font-size: .875em;
  text-align: center; }

.DayPicker-Body {
  display: table-row-group; }

.DayPicker-Week {
  display: table-row; }

.DayPicker-Day {
  display: table-cell;
  padding: .5rem;
  border: 1px solid #eaecec;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  outline: none; }

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default; }

.DayPicker-Day--today {
  color: #D0021B;
  font-weight: 500; }

.DayPicker-Day--disabled {
  color: #DCE0E0;
  cursor: default;
  background-color: #eff1f1; }

.DayPicker-Day--sunday {
  color: #DCE0E0;
  background-color: #f7f8f8; }

.DayPicker-Day--outside {
  cursor: default;
  color: #DCE0E0; }

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: #FFF;
  background-color: #4A90E2; }

.DayPicker--ar {
  direction: rtl; }

.detail {
  height: 100%;
  overflow-y: scroll; }
  .detail .detail-empty {
    position: relative;
    top: 40%;
    transform: translateY(-60%);
    text-align: center; }
  .detail .detail-header {
    width: 100%;
    padding: 15px 0 5px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #e4e2e2; }
    .detail .detail-header h3 {
      margin-bottom: 10px; }
  .detail .detail-content {
    padding: 15px 10px 50px; }

.header {
  height: 50px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #bbb; }
  .header h4 {
    font-size: 2.3rem;
    padding: 1rem;
    margin: 0;
    text-align: center; }
  .header .nav-component {
    float: left;
    padding: 0 10px; }
  .header .logo {
    width: 300px;
    text-align: center;
    float: left; }
  .header .search {
    float: left; }
    .header .search .input[type="text"] {
      height: 40px;
      width: 300px;
      margin-top: 5px;
      padding: 3px 15px 5px;
      border-radius: 20px; }
  .header .nav-list {
    float: right;
    list-style-type: none; }
    .header .nav-list li {
      display: inline;
      padding: 0 10px; }

.image {
  opacity: 0;
  transition: opacity 0.2s linear;
  height: 80px;
  width: 80px;
  border-radius: 3px; }
  .image.image-loaded {
    opacity: 1; }

.detail-meetup .detail-meetup-event-details {
  text-align: center; }
  .detail-meetup .detail-meetup-event-details i.fa {
    margin-left: 20px; }
  .detail-meetup .detail-meetup-event-details p {
    margin-bottom: 10px; }

.detail-meetup .connections-list table {
  width: 100%; }
  .detail-meetup .connections-list table tbody tr {
    height: 60px; }
    .detail-meetup .connections-list table tbody tr td:first-child {
      padding: 5px 0 5px 5px; }
    .detail-meetup .connections-list table tbody tr td .image {
      height: 50px;
      width: 50px;
      border-radius: 25px; }
    .detail-meetup .connections-list table tbody tr:nth-child(odd) {
      background-color: #f7f7fa; }
    .detail-meetup .connections-list table tbody tr:hover td:last-child i.fa {
      opacity: 1; }
    .detail-meetup .connections-list table tbody tr td:last-child i.fa {
      transition: opacity 0.2s ease-in;
      opacity: 0; }

.meetup-list {
  float: left;
  width: 300px;
  height: 100%;
  border-right: 1px solid #e4e2e2;
  background-color: #f7f7fa; }
  .meetup-list .meetup-list-header {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    border-bottom: 1px solid #e4e2e2; }
    .meetup-list .meetup-list-header .fa-plus {
      float: left;
      position: relative;
      left: 10px;
      top: 5px; }
    .meetup-list .meetup-list-header .fa-angle-down {
      float: right;
      position: relative;
      right: 5px;
      top: 3px;
      font-weight: 600; }

.meetup-list-content .meetup {
  padding: 15px 10px;
  background-color: #fff;
  border-bottom: 1px solid #f7f7fa; }
  .meetup-list-content .meetup .meetup-link {
    color: #222;
    text-decoration: none; }
    .meetup-list-content .meetup .meetup-link .meetup-list-name {
      font-size: 1.9rem;
      line-height: 2.7rem;
      margin-bottom: 0; }
    .meetup-list-content .meetup .meetup-link .meetup-list-caption {
      font-size: 1.4rem;
      color: #999; }
    .meetup-list-content .meetup .meetup-link .fa-angle-right {
      opacity: 0;
      float: right;
      position: relative;
      bottom: 35px;
      transition: opacity 0.2s ease-in; }
  .meetup-list-content .meetup.selected .meetup-list-name {
    font-weight: 600; }
  .meetup-list-content .meetup.selected .fa-angle-right {
    opacity: 1; }
  .meetup-list-content .meetup .subconnection-list {
    list-style-type: none;
    margin: 0.8rem 0; }
    .meetup-list-content .meetup .subconnection-list .list-header {
      text-transform: uppercase;
      color: #a8a8a8;
      font-size: 1.4rem;
      font-weight: 600; }
      .meetup-list-content .meetup .subconnection-list .list-header i.fa-angle-down {
        font-weight: 600; }
    .meetup-list-content .meetup .subconnection-list .subconnection {
      margin: 0 0 0.8rem 1rem; }
      .meetup-list-content .meetup .subconnection-list .subconnection i.fa-angle-right {
        opacity: 0;
        transition: opacity 0.2s ease-in;
        font-weight: 600;
        float: right; }
      .meetup-list-content .meetup .subconnection-list .subconnection .selected {
        font-weight: 600; }
        .meetup-list-content .meetup .subconnection-list .subconnection .selected i.fa-angle-right {
          opacity: 1; }
  .meetup-list-content .meetup:hover {
    background-color: #f7f7fa; }

.modal-background {
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3); }
  .modal-background .modal-content {
    width: 600px;
    margin: 30px auto;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.25); }
    .modal-background .modal-content .modal-header {
      padding: 10px 0 0;
      border-bottom: 1px solid #e4e2e2;
      text-align: center; }
      .modal-background .modal-content .modal-header .modal-header-title {
        font-weight: 500;
        text-transform: uppercase;
        color: #bbb; }
    .modal-background .modal-content .modal-form {
      padding: 15px; }
      .modal-background .modal-content .modal-form .add-form-input {
        width: 100%; }
        .modal-background .modal-content .modal-form .add-form-input.flat-bottom {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0; }
      .modal-background .modal-content .modal-form i.fa-calendar {
        float: right;
        position: absolute;
        margin: 11px 0 0 -20px; }
      .modal-background .modal-content .modal-form .day-picker {
        position: absolute;
        background-color: #fff;
        margin-top: -15px;
        width: 271px;
        border: 1px solid #33c3f0;
        border-top: none;
        border-radius: 0 0 4px 4px; }
        .modal-background .modal-content .modal-form .day-picker.collapsed {
          display: none; }
        .modal-background .modal-content .modal-form .day-picker .DayPicker-Day:hover {
          color: #33c3f0; }
    .modal-background .modal-content i.fa-times {
      float: right;
      position: relative;
      top: 10px;
      right: 10px; }

.spinner {
  text-align: center; }

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/SF-UI-Text-Light.otf"); }

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/SF-UI-Text-Regular.otf"); }

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/SF-UI-Text-Medium.otf"); }

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/SF-UI-Text-Bold.otf"); }

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 200;
  src: url("fonts/SF-UI-Display-UltraLight.otf"); }

body {
  overflow: hidden;
  font-family: "SF", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  cursor: pointer;
  text-decoration: none; }

i.fa {
  margin-right: 3px; }
  i.fa.fa-2x {
    vertical-align: middle; }
  i.fa.fa-envelope {
    color: #bbb; }
  i.fa.fa-linkedin-square {
    color: #0077b5; }
  i.fa.fa-facebook-square {
    color: #3b5998; }
  i.fa.fa-twitter-square {
    color: #4099ff; }
  i.fa.fa-phone-square {
    color: #47B822; }
  i.fa.fa-skype {
    color: #12a5f4; }

i.fa-circle.divider {
  font-size: 4px;
  position: relative;
  top: -3px;
  margin: 0 12px 0 10px; }

.link-danger {
  font-weight: 500;
  color: #da552f; }
  .link-danger:hover {
    color: #bf4927; }

.centered {
  text-align: center; }

.info {
  color: #a8a8a8; }
